.logo {
    color: #00483d;
    font-family: 'Combo';
    font-style: italic;
    font-weight: bolder;
    background-image: linear-gradient(to bottom right, rgb(252, 252, 180), rgb(161, 161, 254));
    padding: 10px;
    border-radius: 35px;
    margin: 0;
}

.search-product {
    display: flex;
    align-items: center;
    width: 50%;
}

.search-product input {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 8px 8px;
    box-shadow: 10px 10px 15px rgb(113, 113, 113);
    width: 100%;
}

.search-product input:focus {
    outline: 1px solid #03a88f;

}

.search-product button {
    display: inline-block;
    width: 48px;
    height: 40px;
    margin-left: 5px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #00483d;
    color: white;
}

.search-btn {
    cursor: pointer;
}

.kt-dh {
    font-size: 14px;
    display: flex;
    width: 110px;
    background-color: #00483d;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 5px;
}

.kt-dh span {
    display: inline-block;
    width: 70px;

}

.kt-dh i {
    display: block;
}

.card-shopping {
    cursor: pointer;
    display: flex;
    font-size: 25px;
    color: #00483d;
    align-items: center;
}

.angle {
    font-size: 0px;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid orangered;
    border-bottom: 5px solid transparent;
}