.col-content {
    display: flex;
}
footer .bg .col-content>div {
    flex-direction: column;
    width: 16.6666%;
}
footer .bg .col-content h4 {
    font-size: 15px;
    margin: 10px 0 6px 0;
}
footer .bg a{
    color: #ddd;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;

}
footer .bg ul li {
    margin-bottom: 3px;
}
footer .bg a.hotline, footer .bg a.hotline:link, footer .bg a.hotline:visited {
    color: #00483d;
    font: Bold 18px/18px -apple-system,BlinkMacSystemFont,'Segoe UI';
}
footer .bg .hotline {
    display: inline-block;
    padding: 6px 10px;
    background: #fff;
    border-radius: 4px;
    color: #00483d;
}
footer .bg {
    background: #00483d;
    border-radius: 11px;
    padding: 10px 20px 10px 20px;
    color: #fff;
}

footer .info {
    padding-top: 30px;
    text-align: center;
}
footer .info p {
    margin: 0 0 5px 0;
    font-size: 9pt;
}