@import url('https://fonts.googleapis.com/css2?family=Combo&family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

a{
    text-decoration: none;
    color: inherit;
}
#root{
    width: 1200px;
    margin: 0 auto;
    
}
html{
    margin: 0;
    padding:0;
    background-color: #f4f4f4;
}