
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo{
    color: #00483d;
    font-family: 'Combo';
    font-style: italic;
    font-weight: bolder;
    background-image: linear-gradient(to bottom right, rgb(252, 252, 180),rgb(161, 161, 254));
    padding: 10px;
    border-radius: 35px;
    margin: 0;
}
.search-product {
    display: flex;
    align-items: center;
    width: 50%;
}
.search-product input{
    border: none;
    border-radius: 10px;
    font-size: 20px;
    padding:8px 8px;
    box-shadow: 10px 10px 15px rgb(113, 113, 113);
    width: 100%;
}
.search-product input:focus{
    outline: 1px solid #03a88f;
    
}
.search-product button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 45px;
    margin-left: 5px;
    font-size: 30px;
    border-radius:20px;
    background-image: linear-gradient(#00917a,#00483d);
    color: white;
    border: none;
}

.kt-dh{
    font-size: 12px;
    display: flex;
    width: 120px;
    background-color: #00483d;
    color:white;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 5px;
}
.kt-dh span{
    display: inline-block;
    width: 70px;
    
}
.kt-dh svg{
    display: block;
    font-size: 25px;
}
.card{
    display: flex;
    font-size: 25px;
    color: #00483d;
    align-items: center;
}
.angle{
    font-size: 0px;
   border-top:5px solid transparent ;
   border-left:5px solid transparent ;
   border-right:5px solid orangered  ;
   border-bottom:5px solid  transparent;
}
.number-product{
    background-color: orangered;
    color: white;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
}


nav{
    display: flex;
    align-content: center;
    background-color: #00483d;
    border-radius: 5px;
    position: relative;
}
.nav-item{
    padding:10px;
    background-color: transparent;
    border-right: 1px solid #b6b6b6 ;
    color: white;
    display: block;
    font-weight: 500;
    font-size: 15px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}

.clrcrs{
    clear: both;
}





/* drop **************************************/
.nav-group section{
    display: none;
}
.nav-group:hover section{
    display: block;
}
.nav-supper{
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 199;
    padding: 15px 0;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 200ms,visibility 200ms;
    transition: opacity 200ms,visibility 200ms;
    width: 1200px;
    background-color: #ffffff;
    
}
.nav-area{
    z-index: 1;
    
    
}
.header-path{
    color: #00483d;
    display: inline-block;
    margin:  10px 0;
    font-size: 15px;
    padding-left: 5px;
}
.nav-path{
    margin-bottom: 10px;
}
.ul-nav-path{
    margin:0;
    padding:0 0 0 20px;
    display: flex;
}
.ul-nav-path li{
    list-style-type: none;
}
.a-nav-path{
    font-size: 15px;
    display: inline-block;
    margin-right: 30px;
}
.ul-nav-path li:hover{
    color:#007664;
    cursor: pointer;
}