.cardProduct{
    margin: 10px 0;
    display: flow-root;
    width: 200px;
    height: 290px;
    border-radius: 5px;
    background-color: white;

}
.btCP{
    text-align: center;
    margin-top: 10px;

}
.infor{
    font-weight: bolder;
    font-size: 14px;
}
.price{
    color: rgb(179, 80, 80);
    font-weight: bolder;
    margin-top: 10px;
}
.imgProduct{
    width: 150px;
    height: 187.5px;
    display: block;
    margin: 30px auto 0 auto;

}